/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2015, 1:11:43 PM
    Author     : drumley
*/

/*(C) Davis Rumley
Elon - CSC 330
*/

*{
    font-family: "Times New Roman", Times, serif;
    
}

img{
    float: left; 
}


h1::first-letter, h2::first-letter{
    font-size: 1.3em;
}

main h1{
    clear:both;

}

#Banner{
    font-style: italic;
    color: orange;
    text-shadow: 1.5px 1.5px #000000;
    
}


body{
    background-color: white;

}
#menu a{
    color: orange;
}
#menu li.a:visited{
    color: green;
}
#menu li{
    margin: 0 0 .4em 0;
    font-weight: bold;
}


footer{
    font-size: .8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}