/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2015, 1:11:43 PM
    Author     : drumley
*/

/*(C) Davis Rumley
Elon - CSC 330
*/

*{
    font-family: "Times New Roman", Times, serif;
    
     
}

img{
    float: left; 
    padding-right: 30px;
}

header{
    padding-top: .5em;
   
    
    border-style: solid;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background: linear-gradient(to top right, white, orange, black);
    
    
   
}

#Banner{
   
}

h1::first-letter, h2::first-letter{
    font-size: 1.3em;
}

body{
    box-shadow: 10px 10px 5px #888888;
    width: 800px;
    
    margin: auto;
    
    border-style: solid;
    border-width: 3px;
    
   
 
   

}

p, h1, h2{
    padding-left: 10px;
    
}

main h1{
    clear:both;

}

main{
    background-color: white;
    padding-bottom: .5em;
      //test
}

#menu a{
    color: orange;
}
#menu li.a:visited{
    color: green;
}
#menu li{
    margin: 0 0 .4em 0;
    font-weight: bold;
}


footer{
    font-size: .8em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    
    border-style: solid;
    border-bottom: #000000;
    border-left: #000000;
    border-right: #000000;
    
    background: linear-gradient(to bottom left, white, orange, black);
}