/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2015, 1:11:43 PM
    Author     : drumley
*/

/*(C) Davis Rumley
Elon - CSC 330
*/

*{
    font-family: "Times New Roman", Times, serif;
    
     
}

img{
    float: left; 
    padding-right: 30px;
}

header{
    padding-top: .5em;
   
    border-style: solid;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background: linear-gradient(to top right, white, orange, black);
    
    
   
}

#Banner{
   
}

h1::first-letter, h2::first-letter{
    font-size: 1.3em;
}

body{
    box-shadow: 10px 10px 5px #000000;
    width: 800px;
    
    margin: auto;
    
    border-style: solid;
    border-width: 3px;
    
    background-image: url("../images/bats.gif");
    
    column-count: 2;
    column-gap: 40px;
   
 
   

}

p, h1, h2{
    padding-left: 10px;

    
}

article h1{
    clear:both;
    
}

article{
    background-color: white;
    padding-bottom: .5em;
    margin-left: 165px;
    top: 0;
    
}
#article  a {
   position: relative;
   display: inline-block;
    
}


#pic_link{
    float: left;
    margin-top: 130px;
    margin-left: -175px;
    
    color:orange;

}
#cat_pic{
    margin-left: 5px;
}

nav{
    position: absolute;
    background-color: #FFFFFF;
    width: 160px;
    //background-color: #888888; 
    height: 100%;
}

#menu a{
    
    color: orange;
}
#menu li.a:visited{
    color: green;
}
#menu li{
    margin: 0 0 .4em 0;
    font-weight: bold;
}


footer{
    font-size: .8em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    
    border-style: solid;
    border-bottom: #000000;
    border-left: #000000;
    border-right: #000000;
    
    background: linear-gradient(to bottom left, white, orange, black);
}